suit==2.0.2 ### THIS MUST BE INSTALLED BEFORE django-suit
Django==1.6.1
django-allauth==0.18.0
django-suit==0.2.12
django-suit-redactor==0.0.2
django-wysiwyg==0.7.0
django-extensions==1.6.1
docutils==0.12
jdcal==1.0.1
MySQL-python==1.2.3 ### IF AN ERROR OCCURS, TRY TO INSTALL OUT OF VIRTUALENV AND THEN AGAIN INSIDE VIRTUALENV
oauthlib==0.6.3
openpyxl==2.1.1
Pillow==3.2.0
python-dateutil==1.5
python-openid==2.2.5
requests==2.4.3
requests-oauthlib==0.4.1
six==1.9.0
xlrd==0.9.3
XlsxWriter==0.6.0
